body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* ---- Header ---- */
header {
  display: flex;
}

header h1 {
  color: white;
  position: relative;
  top: 50%;
  left: 24vw;
  font-size: 3.5rem;
}

/* ---- NAV BAR ---- */
.bg-img {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../Images/Index/Header\ image.png");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.topnav {
  overflow: hidden;
  position: fixed;
  z-index: 999;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0 rgb(0 0 0 / 70%), 0 6px 30px 0 rgb(0 0 0 / 19%);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* ---- SIDE NAV ---- */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* ---- MAIN ---- */
/* -- One -- */
.one {
  margin: 3rem 10% 3rem 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.one .textextOnet {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
.one .textOne h2 {
  font-size: 2.3rem;
  padding-bottom: 1rem;
}

.one .images img {
  max-width: 100%;
  box-shadow: 0px 1px 10px 0 rgb(0 0 0 / 70%), 0 6px 30px 0 rgb(0 0 0 / 19%);
  border-radius: 20px;
}

.greyBox {
  position: absolute;
  height: 200px;
  width: 200px;
}

.boxOne {
  top: 35rem;
  right: 2rem;
}

.boxTwo {
  top: 53rem;
  right: 30rem;
}
/* ---- GRID ---- */
/* -- GRID --  */
#ongoing_projects {
  margin-top: 5rem;
  height: auto;
}

.image-grid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);
  width: 97%;

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0px 1px 10px 0 rgb(0 0 0 / 70%), 0 6px 30px 0 rgb(0 0 0 / 19%);
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

/* -- TEXT HOVER GRID -- */
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.4s ease-in-out;
  border-radius: 1rem;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
